* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@font-face {
  font-family: 'Benzin';
  font-weight: 400;
  src: url('fonts/Benzin-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Benzin';
  font-weight: 500;
  src: url('fonts/Benzin-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Benzin';
  font-weight: 600;
  src: url('fonts/Benzin-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Benzin';
  font-weight: 700;
  src: url('fonts/Benzin-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Benzin';
  font-weight: 800;
  src: url('fonts/Benzin-ExtraBold.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
}
main, footer, body{
  background: #000;
}


.header {
  background-color: #000;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header_container {
  border: 1px solid white;
  border-radius: 60px;
  box-sizing: border-box; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: block;
  max-height: 52px; /* Адаптируйте под размер вашего логотипа */
  margin: 23px 0px;
}
.nav{
  max-width: 680px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin: 0 15px;

}
.nav li:not(:last-child) {
  margin-right: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  transition: opacity 0.3s;
}

.nav a:hover {
  opacity: 0.7;
}
.phone {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600px;
  background: #fff;
  color: #0084FF;
  padding: 8px 15px;
  border-radius: 65px;
  transition: background 0.3s;
}

.phone:hover {
  background: #e0e0e0;
}
.hero{
   margin-top: 60px;
   border: 1px solid #0066ff;
   border-radius: 60px;
   padding-right: 0px;

}
.hero__img {
  background: #0084FF; /* Цвет бордера */
  border: 10px solid #0084FF;
  overflow: hidden;
  border-radius: 60px;
}

.hero__img img {
  display: block;
  border-radius: 60px;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0;;
}
.hero__desc{
  margin: 0px 95px 0px 65px ;
  display: block;
  max-width: 770px;
  
}
.hero__desc-title{
  font-family: 'Benzin', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 68px;
  display: block;
  max-width: 770px;
  line-height: 68px;
  margin-bottom: 30px;
}
.hero__desc-title span {
  color: #0066ff;
}
.hero__desc-p{
  font-size: 40px;
  color: #fff;
  font-family: 'Benzin', medium;
  line-height: 34px;
  margin-bottom: 70px;
}
.hero__desc-btn{
  background-color: #fff;
  font-size: 32px;
  color: #0066ff;
  text-decoration: none;
  border-radius: 60px;
  padding: 10px 20px;

}
.products{
  background: #000;
  padding-top: 85px;
}
.product{
  text-align: center;
  justify-content: center;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  margin: 0 auto;
}
.product__card{
  display: flex;
  background: #000;
  border: 1px solid #fff;
  border-radius: 39px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  font-family: 'Benzin', sans-serif;
  font-weight: 700;
  font-size: 45px;
  height: 100%;
}
.stats{
  margin-top: 130px;
}
.stats__container {
  display: flex;
  justify-content: flex-start;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 60px;
}

.stats__item {
  align-items: center;
  min-height: 250px;
  text-align: left;
  max-width: 700px;
}

.stats__item-title {
  font-family: 'Benzin', sans-serif;
  font-weight: 700;
  color: #0084FF;
  font-size: 156px;
  line-height: 1;
  margin: 0 0 10px 0;
}

.stats__item-desc {
  font-family: 'Benzin', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 46px;
  line-height: 38px;
  margin: 0;
  display: block;
  max-width: 500px;
}
.stats__item:nth-child(1){
  margin-right: 145px;
}
.stats__item:nth-child(2){
  margin-right: 104px;
}
.contact-footer {
  margin-top: 100px;
  color: white;
}
.contact-footer__container{
  background: linear-gradient(135deg, #0066FF 0%, #0084FF 100%);
  border-radius: 40px;
  display: block;
}

.contact-footer__title {
  font-family: 'Benzin', sans-serif;
  font-size: 134px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
  background: transparent;
  margin-left: 44px;
}

.contact-footer__content {
  display: flex;
  padding-bottom: 82px;
  font-family: 'Benzin', sans-serif;
}

.contact-footer__form {
  flex: 1;
  max-width: 655px;
  margin-left: 44px;
  margin-right: 210px;

}
.form__man{
  font-size: 30px;
  font-family: 'Benzin', sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}
.form-group {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contact-footer__form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: 'Benzin', sans-serif;
  font-size: 24px;
  width: 100%;
  outline: none;
  padding-bottom: 4px;
  transition: border-bottom 0.3s;
}

.contact-footer__form input:focus {
  border-bottom: 2px solid white;
}

.contact-footer__form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Benzin', sans-serif;
  font-size: 24px;
}

.contact-footer__form button {
  background: white;
  color: #0084FF;
  border: none;
  border-radius: 50px;
  padding: 7px 0px;
  font-family: 'Benzin', sans-serif;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
}

.contact-footer__form button:hover {
  background: #e6f0ff;
  transform: translateY(-2px);
}
.group__input{
  margin-bottom: 10px;
}
.group__input-tel{
  margin-bottom: 30px;
}
.contact-footer__infoaction{
  display: flex;
  font-size: 40px;
  margin-bottom: 100px;
}
.text__help{
  max-width: 470px;
  line-height: 34px;
}
.text__call{
  max-width: 280px;
  line-height: 34px;
}
.contact-footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%; 

}


.contact-footer__info-text {
  margin-bottom: 10px;
}


.contact-footer__phone {
  margin-top: auto;
  font-size: 63px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: white;

}